<section>
    <div class="edge"></div>
    <header>
      <h1>BEM VINDO(A)!</h1>
    </header>

    <body>
      <div>
        <div class="photomobile">
          <img src="./assets/img/businessmobile.jpg">
        </div>
        <div class="announcement">
          <h2>M O N T E</h2>
          <h2>S E U</h2>
          <h2>C U R R Í C U L O</h2>
          <a routerLink="/basic-form">
            <h1>A Q U I</h1>
          </a>
        </div>
        <div class="description">
          <p>Não é necessário se cadastrar nem pagar! O objetivo deste site é descomplicar a montagem de seu currículo.
            Para dar início à montagem descomplicada, clique <a routerLink="/basic-form">aqui.</a></p>
        </div>
      </div>
    </body>
    <div class="edge"></div>
  </section>
